* {
    margin: 0px;
}

html {
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/*
    Header
*/

.headerContainer {
    padding-top: 7px;
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 650;
    padding-left: 16%;
    padding-right: 16%;
}

.headerContainer .iconContainer {
    margin-right: 10%;
}

#navBarIcon {
    max-width: 50px;
    max-height: 50px;

}

.contentContainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 100%;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.profileImageContainer {
    margin-left: auto;
}

.profileImageContainer #profileImage {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: darkgray;
    border:3px solid #000000;
}

/*
    Body
*/

.standart-page {
    padding-top: 15px;
    padding-left: 16%;
    padding-right: 16%;
    font-family: Montserrat, sans-serif;
}

/*
    Body
*/

.copyright {
    font-size: 80%;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 3%;
    padding-bottom: 1%;
}

/*
    Flash message
*/

.flashMessage {
    margin-top: 10px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: #cb3939;
    animation: slideUpDown 6s ease forwards;
    animation-delay: 1s;
}

@keyframes slideUpDown {
    0% {
        top: -100px;
    }
    16.67% {
        top: 0;
    }
    83.33% {
        top: 0;
    }
    100% {
        top: -100px;
    }
}

.flashMessage .text {
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: #fff;
    font-size: 100%;
    font-weight: 500;
    padding: 10px;
}
