.presentation-section .title {
    font-size: 2.3rem;
    font-weight: 600;
    margin: 0%;
}

.presentation-section .overview {
    display: flex;
    align-items: center;
    padding: 5% 0%;
    gap: 5%;
}

.presentation-section .description {
    padding-top: 50px;
}

.presentation-section .overview-image {
    width: 50%;
    aspect-ratio: 16/9;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    border-radius: 15px;
}

.presentation-section .section-ti-sep {
    width: 55%;
    padding-top: 0%;
}

.presentation-section #presentation-title {
    padding-bottom: 50px;
}

.presentation-section .text-less {
    color: #c2c2c2d3;
}
