:root {
    --techno-width: 125px;
}

.techno-section {
    display: flex;
    flex-direction: column;
}

.techno-section .description {
    padding-top: 10px;
    font-size: 0.9em;
}

.techno-section .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.techno-section .title-midle {
    font-size: 2.5rem;
    font-weight: 650;
    margin: 0%;
}

.techno-section .title-mini {
    line-height: 100%;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0%;
}

.techno-section .text-less {
    color: #727272d4;
}

.techno-section .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 40px;
}

.techno-section .block {
    display: flex;
    background: #ededed;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: var(--techno-width);
    transition: transform 0.3s, opacity 0.3s;
    overflow: hidden;
}

.techno-section .block:hover .block-image {
    transform: scale(1.1);
}

.techno-section .block-image {
    height: var(--techno-width);
    width: var(--techno-width);
    object-fit: cover;
    border-radius: 8px;
    transform: scale(1);
    transition: transform ease 0.5s;
}

.techno-section .img-container {
    overflow: hidden;
}

.techno-section .block-text {
    flex: 1;
    padding: 25px;
    align-content: center;
    margin: 0%;
}

.techno-section .medium-btn {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.techno-section .medium-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
