/*

    Input Text 

*/

.inputText01Container{
    font-size: 15px;
    border-radius: 5px;
    padding: 2px 10px;
    transition: 0.3s all ease;
    border: 3px solid #fff;
    background: none;
    display: block;
    height: 36px;
    outline: none;

    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: white;
}

.inputText01Container:hover {
    border-color: #ff7300;
}

.inputText01Container:focus{
    background: #ffffff;
    font-size: 16px;
    color: #000;
}

/*

    Input Button

*/

.inputButton01Container{
    height: 60px;
    font-weight: 1000;
    min-width: 300px;
    font-size: 150%;
    border-radius: 5px;
    padding: 2px 10px;
    transition: 0.3s all ease;
    background-color: #ff7300;
    display: block;
    outline: none;
    border: none;
    width: fit-content;
    color: white;
}

.inputButton01Container:hover {
    font-size: 170%;
    box-shadow: 0px 15px 20px #ff730097;
    transform: translateY(-5px);
}