/*

    Input Text

*/

.inputText01Container{
    font-size: 15px;
    border-radius: 5px;
    padding: 2px 10px;
    transition: 0.3s all ease;
    border: 3px solid #fff;
    background: none;
    display: block;
    height: 36px;
    outline: none;

    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: white;
}

.inputText01Container:hover {
    border-color: #ff7300;
}

.inputText01Container:focus{
    background: #ffffff;
    font-size: 16px;
    color: #000;
}

/*

    Input Button

*/

.inputButton01Container{
    height: 50px;
    font-weight: 1000;
    min-width: 250px;
    font-size: 125%;
    border-radius: 5px;
    padding: 2px 10px;
    transition: 0.3s all ease;
    background-color: #ff7300;
    display: block;
    outline: none;
    border: none;
    width: fit-content;
    color: white;
}



.inputButton01Container:hover {
    font-size: 140%;
    box-shadow: 0px 15px 20px #ff730097;
    transform: translateY(-3px);
}

/*
    Input Checkbox
*/

.inputCheckBox01Container{
    border-radius: 5px;
    padding: 2px 10px;
    transition: 0.3s all ease;
    border: 3px solid #fff;
    background: none;
    height: 20px;
    width: 20px;
    outline: none;
    color: white;
}

.inputCheckBox01Container:hover {
    border-color: #ff7300;
}

.inputCheckBox01Container:focus{
    background: #ffffff;
    color: #000;
}
