.homeSection {
    padding-top: 30px;
}

.mediumPlayBtn {
    height: 50px;
    font-weight: 1000;
    min-width: 250px;
    font-size: 125%;
    border-radius: 5px;
    padding: 2px 10px;
    transition: 0.3s all ease;
    background-color: #ff7300;
    display: block;
    outline: none;
    border: none;
    width: fit-content;
    color: white;
}

.mediumPlayBtn:hover {
    font-size: 140%;
    box-shadow: 0px 15px 20px #ff730097;
    transform: translateY(-3px);
}

.imgBG {
    border-radius: 30px;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

.sloganContainer {
    position: relative;
}

#slogan__title {
    font-size: 200%;
    font-weight: 700;
    color: white;
}

.sloganLeftOverlay {
    padding: 30px;
    width: fit-content;
    backdrop-filter: blur(4px);
    z-index: 0;
    border-radius: 15px;
    background-color: #00000023;
}

.sloganLeftContainer {
    padding-top: 20%;
    padding-left: 40%;
    position: absolute;
    z-index: 1;
}

.slogan__text-container {
    padding-top: 5%;
    font-size: 100%;
    font-weight: 600;
    color: rgb(239, 239, 239);
}

.sloganTextContainer {
    font-size: 175%;
    font-weight: 700;
    color: white;
}

.sloganPlayBtnContainer {
    padding-top: 3%;
}

.default-title {
    font-size: 225%;
    font-weight: 750;
    color: black;
    border-left: 4px solid #ff7300;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 10px;
    font-family: WF Visual Sans, Arial, sans-serif;
    letter-spacing: .01em;
    line-height: 1.04;
}

.palierText {
    font-size: 100%;
    font-weight: 500;
    color: rgb(110, 110, 110);
}

.palierTextContainer {
    padding: 1% 0%;
}

.info__content {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;

}

.info__discord {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

#info__player-stat-text {
    font-size: 125%;
    font-weight: 500;
    color: black;
}

.discord__container {
    display: flex;
    align-items: flex-start;
}

.discord__text {
    font-size: 125%;
    font-weight: 500;
    color: black;
}

.discord__left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.discord__widget-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    /* Make it grow to fill the container */
    height: 100%;
    /* Make sure it fills the parent height */
}

.discord-widget {
    flex-grow: 1;
    /* Make the widget grow to fill available space */
    align-self: stretch;
    /* Stretch the widget to fit the container */
}

#join-us-img {
    max-width: 90%;
    margin-top: 20px;
    border-radius: 15px;
}

.players-container {
    display: flex;
    justify-content: space-between;
}

.player {
    border: solid 5px #ff7300;
    border-radius: 30px;
    display: block;
    background-color: #160020d1;
    color: #fff;
    width: 17%;
    align-items: center;
    padding: 30px 70px;
}

.player-skin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skin_viewer {
    justify-content: center;
}

.player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.player-position {
    font-weight: 800;
    font-size: 400%;
    text-align: center;
}

.player-name {
    font-weight: 500;
    font-size: 130%;
    color: #d4af37;
}

.scoreboard .score {
    font-weight: 500;
}

.podium .content {

    display: flex;
    justify-content: center;
    gap: 6%;
}

.podium .title {
    padding: 15px;
    width: 57%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;

    text-align: center;
    color: #fff;
    border-radius: 10px;
    font-size: 250%;
    font-weight: 700;
    background-color: #160020d1;

    border: solid 3px #ff7300;
}

.p2,
.p1,
.p3 {
    align-self: flex-end;
    width: 15%;

}

.podium .shape {
    background-color: #160020d1;
    border-radius: 10px;
    border: solid 3px #ff7300;

}

.podium .shape {
    position: relative;
    padding: 15px;
}

.p2 .shape {
    padding-top: 55%;
}

.p1 .shape {
    padding-top: 75%;
}

.p3 .shape {
    padding-top: 40%;
}

.podium .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

.podium .playerName {
    font-weight: 700;
    font-size: 150%;
    color: #d4af37;
    text-align: center;
}

.podium .p2 .rank {
    font-weight: 650;
    font-size: 300%;
}

.podium .p1 .rank {
    font-weight: 700;
    font-size: 375%;
}

.podium .p3 .rank {
    font-weight: 600;
    font-size: 225%;
}

.podium .score {
    font-weight: 500;
}

.newsContent .seeMoreBtnContainer {
    padding-top: 1.5%;
}

.newsContent .newsContainer {
    padding-top: 1.5%;
}

.newsContent .seeMoreBtn {
    height: 50px;
    font-weight: 1000;
    font-size: 125%;
    border-radius: 5px;
    padding: 2px 10px;
    transition: 0.3s all ease;
    background-color: #490085;
    display: block;
    outline: none;
    border: none;
    width: fit-content;
    color: white;

    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.newsContent .seeMoreBtn:hover {
    font-size: 140%;
    box-shadow: 0px 15px 20px #49008597;
    transform: translateY(-3px);
}
