.bg {   
    height: 89vh;
    width: 94%;
    background-color: #14003d;
    border-radius: 15px;
    border: solid 5px #ff7300;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 3%;
    position: relative;
    overflow: hidden;
}

.window {
    position: absolute;
    height: 200px;
    width: 300px;
    background-color: #ffffff99;
    border-radius: 10px;
    top: 50%;
    left: 0%; 
    transform: translateY(-50%); 
    cursor: pointer; 
}