:root {
    /* Colors */
    --color-background: #f2f2f2;
    --color-line-thin: rgba(0, 0, 0, 0.05);
    --color-line-thin-alt: rgba(0, 0, 0, 0.07);
    --color-line-thick: #aaa;

    /* Grid size */
    --grid-small-size: 4px;
    --grid-large-size: 80px;

    /* Grid thickness */
    --line-thin-width: 1px;
    --line-thick-width: 1px;
    --grid-padding: 3px;
    --grid-cell-size: 78px;
}

html {
    max-width: none;
}

header {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    align-items: center;
}

.bg {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    background:
        linear-gradient(-90deg, var(--color-line-thin) var(--line-thin-width), transparent var(--line-thin-width)),
        linear-gradient(var(--color-line-thin) var(--line-thin-width), transparent var(--line-thin-width)),
        linear-gradient(-90deg, var(--color-line-thin-alt) var(--line-thin-width), transparent var(--line-thin-width)),
        linear-gradient(var(--color-line-thin-alt) var(--line-thin-width), transparent var(--line-thin-width)),
        linear-gradient(transparent var(--grid-padding), var(--color-background) var(--grid-padding), var(--color-background) var(--grid-cell-size), transparent var(--grid-cell-size)),
        linear-gradient(-90deg, var(--color-line-thick) var(--line-thick-width), transparent var(--line-thick-width)),
        linear-gradient(-90deg, transparent var(--grid-padding), var(--color-background) var(--grid-padding), var(--color-background) var(--grid-cell-size), transparent var(--grid-cell-size)),
        linear-gradient(var(--color-line-thick) var(--line-thick-width), transparent var(--line-thick-width)),
        var(--color-background);
    background-size:
        var(--grid-small-size) var(--grid-small-size),
        var(--grid-small-size) var(--grid-small-size),
        var(--grid-large-size) var(--grid-large-size),
        var(--grid-large-size) var(--grid-large-size),
        var(--grid-large-size) var(--grid-large-size),
        var(--grid-large-size) var(--grid-large-size),
        var(--grid-large-size) var(--grid-large-size),
        var(--grid-large-size) var(--grid-large-size);
    z-index: 0;
}

.canvas:active {
    cursor: grabbing;
}

.node {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #fff;
    border: solid 5px #ff7300;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.layer_line {
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    width: 3px;
    flex: 1;
    border-radius: 50px;
    background-color: #959595;
}

.icon {
    margin: 10px;
}

.line {
    stroke: orange;
    stroke-width: 5px;
}


/*
    Info Display
*/

.info {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    top: 12%;
    right: 2%;
    z-index: 3;
    width: 350px;

    background-color: #000;
    border-radius: 15px;
    padding: 30px;

    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
    position: absolute;
}

.info-show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}



.info .closeBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0.75;
}

.info .closeBtn:hover {
    opacity: 1;
}

.info .iconContainer {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50px;
}

.info .titleContainer {
    display: flex;
    align-items: center;
}

.info .title {
    padding-left: 10px;
    font-size: 100%;
    font-weight: 700;
}

.info .textContainer {
    padding-top: 5%;
    display: grid;
    gap: 5px;
}

.info .textContainer .textTitle {
    font-weight: 700;
    font-size: 100%;
}

.info .textDescription {
    font-weight: 300;
}

.info .itemsContainer {
    padding-top: 3%;
}
